@page
@model McAttributes.Pages.UserIssues.IndexModel

@{
    ViewData["Title"] = "Discovered Issues";
}

<h1>Discovered Issues</h1>

<form method="post" asp-page="Index">
    <div class="form-group">
        <label asp-for="SearchCriteria">Search Criteria</label>
        <input asp-for="SearchCriteria" class="form-control" placeholder="Search" autocomplete="on" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<table>
    <thead>
        <tr><th>Status</th><th></th></tr>
    </thead>
    <tbody>
        @foreach (var i in Model.IssueCounts) {
            <tr><td>@i.Key</td><td>@i.Value</td></tr>
        }
        <tr><td>Total</td><td>@Model.IssueCountTotal</td></tr>
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IssueLogEntry[0].AttrName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueLogEntry[0].Created) UTC
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueLogEntry[0].LastSeen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueLogEntry[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueLogEntry[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueLogEntry[0].Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.IssueLogEntry.Take(50)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AttrName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastSeen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
