@page
@model McAttributes.Pages.EmployeeIdRecords.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeIdRecord[0].CloudSourceAnchor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeIdRecord[0].UserPrincipalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeIdRecord[0].EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeIdRecord[0].AdEmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeIdRecord[0].Version)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EmployeeIdRecord.Take(50)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CloudSourceAnchor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserPrincipalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdEmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
