@page
@model McAttributes.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.LastFetched)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.LastFetched)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Merged)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Merged)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Modified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Modified)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Enabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Enabled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Tenant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Tenant)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.AadId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.AadId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Upn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Upn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Mail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Mail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.DisplayName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.DisplayName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.EmployeeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.EmployeeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.AdEmployeeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.AdEmployeeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.HrEmployeeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.HrEmployeeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Wid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Wid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.CreationType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.CreationType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Company)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.PreferredGivenName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.PreferredGivenName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.PreferredSurname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.PreferredSurname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Articles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Articles)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Pronouns)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Pronouns)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-page="./Edit" asp-route-id="@Model.User?.Id">Edit</a> |*@
    <a asp-page="./Index">Back to List</a>
</div>
